<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS FLEX</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="containerM">
    <header>
        <img src="https://scontent.fkhi2-1.fna.fbcdn.net/v/t1.0-1/p160x160/81512876_1656572584485428_305987952796762112_n.jpg?_nc_cat=107&_nc_sid=dbb9e7&_nc_ohc=kOV7kctff_kAX9-E1pR&_nc_ht=scontent.fkhi2-1.fna&_nc_tp=6&oh=93b488bf50a2207936b52a5cca087ec5&oe=5ED0E853" alt="Quincy Larson's profile picture" class="profile-thumbnail">
        <div class="profile-name">
          <h3>Quincy Larson</h3>
          <h4>@ossia</h4>
        </div>
        <div class="follow-btn">
          <button>Follow</button>
        </div>
    </header>


      <div id="innerone">
        <form action="/" method="post">
        <input type="textarea" name="message" placeholder="Write something.." autocomplete="off" style="height:200px">
        <button class="btn-post" type="submit" name="button">Post</button>
    </form>
        <hr>
      </div>



    </div>

    <% for(var i = 0; i  < postmessage.length; i++){ %>

    
    <div class="containerM">
    <header>
        <img src="https://scontent.fkhi2-1.fna.fbcdn.net/v/t1.0-1/p160x160/81512876_1656572584485428_305987952796762112_n.jpg?_nc_cat=107&_nc_sid=dbb9e7&_nc_ohc=kOV7kctff_kAX9-E1pR&_nc_ht=scontent.fkhi2-1.fna&_nc_tp=6&oh=93b488bf50a2207936b52a5cca087ec5&oe=5ED0E853" alt="Quincy Larson's profile picture" class="profile-thumbnail">
        <div class="profile-name">
          <h3>Quincy Larson</h3>
          <h4>@ossia</h4>
        </div>
        <div class="follow-btn">
          <button>Follow</button>
        </div>
    </header>


      <div id="inner">
        <p><%= postmessage[i] %></p>
        <span class="date"><%= postdate %></span>
        <hr>
      </div>


      <footer>

        <div class="stats">
          <div class="Retweets">
            <strong>107</strong> Retweets
          </div>
          <div class="likes">
            <strong>431</strong> Likes
          </div>
        </div>

        <div class="cta">
          <button class="share-btn">Share</button>
          <button class="retweet-btn">Retweet</button>
          <button class="like-btn">Like</button>
        </div>
      </footer>
    </div>
    <% } %>
</body>
</html>